<h1>{{message}}</h1>
<div>
    Beating Bowel Cancer have partnered with Advanced to develop
    a CRM and fundraising solution to increase income. 
    <ul>
        <li>
            Beating Bowel Cancer is the support and
            campaigning charity for everyone affected by
            bowel cancer
        </li>
        <li>
            Since 1999 we have been providing
            practical and emotional support to bowel cancer
            patients and their families
        </li>
    </ul>
</div>